.Meanings h2 {
  font-size: 25px;
  color: #1976d2;
  text-align: left;
  padding: 15px 0 0 15px;
  margin: 0;
}

.Meanings h4 {
  text-align: left;
  padding-left: 15px;
  font-size: 20px;
}

.Meanings .definition {
  margin-top: 20px;
}

.Meanings main {
  margin-bottom: 30px;
}
