.phonetics {
  margin: 12px 0 10px 0;
}

.phonetics .text {
  color: #1976d2;
  text-align: left;
  padding: 5px 0 0 11px;
  margin: 0;
}

.phonetics .audio-player {
  position: relative;
  left: 20px;
  top: 15px;
}

@media (max-width: 750px) {
  .Phonetics audio {
    width: 200px;
  }
}
