body {
  background-color: #03a9f49e;
}

.app {
  font-family: "Balsamiq Sans", cursive;
}

.app h1,
h2 {
  text-align: center;
  color: black;
}

.app h1 {
  margin: 30px 0 10px 0;
}

.app h2 {
  margin-top: 30px;
}
