.Meanings h4 {
  padding: 15px 0 5px 15px;
  font-size: 18px;
}

.Meanings h1 {
  font-size: 25px;
}

.Meanings .title {
  color: #03a9f4;
}
.Meanings hr {
  color: #ffa000;
  max-width: 600px;
  margin: 10px auto;
  height: 5px;
}
