.Phonetics {
  margin: 12px 0 10px 0;
}

.Phonetics .text {
  color: #ffa500;
  text-align: left;
  padding: 5px 0 0 11px;
  margin: 0;
}

.Phonetics a {
  font-size: 14px;
  padding: 8px;
  margin-left: 10px;
  color: white;
  background-color: #ffa500;
  border-radius: 20px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.Phonetics a:hover {
  color: #ffa500;
  background-color: white;
}
