.SearchResults section {
  background-color: white;
  max-width: 750px;
  margin: 10px auto;
  border-radius: 10px;
  padding-bottom: 10px;
}

.SearchResults h1 {
  color: #ffa500;
  text-transform: capitalize;
  text-align: left;
  padding: 15px 0 0 15px;
  margin: 0;
}
